{% extends '../layout.twig' %}

{% block page_menu %}
	<li class="page-header__nav-item">
		<a  class="page-header__nav-link" href="blank.html">Информация</a>
	</li>
	<li class="page-header__nav-item">
		<a  class="page-header__nav-link" href="blank.html">Фото и видео</a>
	</li>
	<li class="page-header__nav-item">
		<a  class="page-header__nav-link" href="blank.html">Карта штата</a>
	</li>
	<li class="page-header__nav-item">
		<a  class="page-header__nav-link">Гостиницы</a>
	</li>
{% endblock %}

{% block main %}
	<h1 class="visually-hidden">Поиск гостиницы в Седоне</h1>
	<form class="filter" action="https://echo.htmlacademy.ru">
		<fieldset class="filter__set">
			<legend class="filter__title">Инфраструктура:</legend>
			<label class="filter__group">
				<input class="visually-hidden filter__check-control" name="services[]" value="pool" type="checkbox" checked>
				<span class="filter__check">Бассейн</span>
			</label>
			<label class="filter__group">
				<input class="visually-hidden filter__check-control" name="services[]" value="parking" type="checkbox">
				<span class="filter__check">Парковка</span>
			</label>
			<label class="filter__group">
				<input class="visually-hidden filter__check-control" name="services[]" value="wifi" type="checkbox" disabled>
				<span class="filter__check">Wi-Fi</span>
			</label>
		</fieldset>
		<fieldset class="filter__set">
			<legend class="filter__title">Тип жилья:</legend>
			<label class="filter__group">
				<input class="visually-hidden filter__check-control" name="types[]" value="hotel" type="checkbox" checked>
				<span class="filter__check">Гостиница</span>
			</label>
			<label class="filter__group">
				<input class="visually-hidden filter__check-control" name="types[]" value="motel" type="checkbox" checked>
				<span class="filter__check">Мотель</span>
			</label>
			<label class="filter__group">
				<input class="visually-hidden filter__check-control" name="types[]" value="apartments" type="checkbox" checked disabled>
				<span class="filter__check">Апартаменты</span>
			</label>
		</fieldset>
		<fieldset class="range filter__set">
			<legend class="filter__title">Стоимость в сутки (р):</legend>
			<p class="range__values">
				<label class="range__group">
					От
					<span class="range__value">
						<input class="range__input range__input--min" name="price[]" value="0" type="number" min="0" max="3000" step="10">
					</span>
				</label>
				<label class="range__group">
					До
					<span class="range__value">
						<input class="range__input range__input--max" name="price[]" value="2500" type="number" min="0" max="3000" step="10">
					</span>
				</label>
			</p>
			<div class="range__controls" hidden>
				<div class="range__progress"></div>
				<button class="range__button range__button--min" type="button">
					<span class="visually-hidden">Установить минимум</span>
				</button>
				<button class="range__button range__button--max" type="button">
					<span class="visually-hidden">Установить максимум</span>
				</button>
			</div>
			<button class="filter__submit" type="submit">Показать</button>
		</fieldset>
	</form>

	<section>
		<header class="sort">
			<p class="sort__count big">Найдено: 3</p>
			<p class="sort__title">Сортировка:</p>
			<ul class="sort__params">
				<li>
					<a class="sort__param">По цене</a>
				</li>
				<li>
					<a class="sort__param" href="?sort=type&amp;dir=asc">По типу</a>
				</li>
				<li>
					<a class="sort__param" href="?sort=rating&amp;dir=asc">По рейтингу</a>
				</li>
			</ul>
			<ul class="sort__dirs">
				<li>
					<a class="sort__dir sort__dir--asc" href="?sort=price&amp;dir=asc">
						<span class="visually-hidden">По возрастанию</span>
					</a>
				</li>
				<li>
					<a class="sort__dir sort__dir--desc">
						<span class="visually-hidden">По убыванию</span>
					</a>
				</li>
			</ul>
		</header>
		<ul class="catalog">
			<li class="catalog__item">
				<img class="catalog__img" src="img/catalog-1.jpg" width="135" height="90" alt="Amara Resort &amp; Spa">
				<div class="catalog__info">
					<h3 class="catalog__title">
						<a class="big" href="blank.html">Amara Resort &amp; Spa</a>
					</h3>
					<p class="catalog__text">Гостиница</p>
					<p class="catalog__text">От 4000 р.</p>
					<a class="catalog__button button" href="blank.html">Подробнее</a>
					<a class="catalog__button button button--secondary" href="blank.html">Забронировать</a>
				</div>
				<div class="catalog__stat">
					<p class="catalog__stars catalog__stars--4">
						<span class="visually-hidden">Звёзд: 4</span>
					</p>
					<p class="catalog__rating">Рейтинг: 8,5</p>
				</div>
			</li>
			<li class="catalog__item">
				<img class="catalog__img" src="img/catalog-2.jpg" width="135" height="90" alt="Desert Quail Inn">
				<div class="catalog__info">
					<h3 class="catalog__title">
						<a class="big" href="blank.html">Desert Quail Inn</a>
					</h3>
					<p class="catalog__text">Мотель</p>
					<p class="catalog__text">От 3000 р.</p>
					<a class="catalog__button button" href="blank.html">Подробнее</a>
					<a class="catalog__button button button--secondary" href="blank.html">Забронировать</a>
				</div>
				<div class="catalog__stat">
					<p class="catalog__stars catalog__stars--3">
						<span class="visually-hidden">Звёзд: 3</span>
					</p>
					<p class="catalog__rating">Рейтинг: 8,9</p>
				</div>
			</li>
			<li class="catalog__item">
				<img class="catalog__img" src="img/catalog-3.jpg" width="135" height="90" alt="Villas at Poco Diablo">
				<div class="catalog__info">
					<h3 class="catalog__title">
						<a class="big" href="blank.html">Villas at Poco Diablo</a>
					</h3>
					<p class="catalog__text">Апартаменты</p>
					<p class="catalog__text">От 2000 р.</p>
					<a class="catalog__button button" href="blank.html">Подробнее</a>
					<a class="catalog__button button button--secondary" href="blank.html">Забронировать</a>
				</div>
				<div class="catalog__stat">
					<p class="catalog__stars catalog__stars--2">
						<span class="visually-hidden">Звёзд: 2</span>
					</p>
					<p class="catalog__rating">Рейтинг: 9,2</p>
				</div>
			</li>
		</ul>
	</section>
{% endblock %}
