{% extends '../layout.twig' %}

{% block logo %}
	<a class="page-header__logo-link">
		<img src="img/logo-sedona.svg" width="138" height="70" alt="Лого Седоны">
	</a>
{% endblock %}

{% block main %}
	<header class="main-header">
		<h1 class="visually-hidden">Седона</h1>
		<img src="img/emblem-sedona.svg" width="458" height="352" alt="Welcome to the gorgeous Sedona ">
	</header>
	<section class="section">
		<header class="section__header center">
			<h2 class="visually-hidden">Преимущества</h2>
			<p class="heading section__heading">Седона — небольшой городок в Аризоне,<br>заслуживающий большего!</p>
			<p class="text text--air">Рассмотрим 5 причин, по которым Седона круче, чем гранд каньон!</p>
		</header>
		<ol class="cards">
			<li class="cards__group">
				<div class="cards__item cards__item--alter">
					<h3 class="cards__heading heading">Настоящий<br>городок</h3>
					<p class="text cards__text">Седона - не аттракцион для туристов, там течёт своя жизнь</p>
				</div>
				<img class="cards__img" src="img/advantage-1.jpg" width="800" height="256" alt="Виды города">
				<ul class="cards__iconable-list">
					<li class="cards__item cards__item--booking">
						<h4 class="heading">Жильё</h4>
						<p class="text">Рекомендуем пожить в настоящем мотеле, всё как в кино!</p>
					</li>
					<li class="cards__item cards__item--eat">
						<h4 class="heading">Еда</h4>
						<p class="text">Всегда заказывайте фирменный бургер, вы не разочаруетесь!</p>
					</li>
					<li class="cards__item cards__item--goods">
						<h4 class="heading">Сувениры</h4>
						<p class="text">Не только китайского, но и местного производства!</p>
					</li>
				</ul>
			</li>
			<li class="cards__group">
				<div class="cards__item cards__item--alter">
					<h3 class="cards__heading heading">Там есть Мост дьявола</h3>
					<p class="text cards__text">Да, по нему можно пройти! Если конечно вы осмелитесь</p>
				</div>
				<img class="cards__img" src="img/advantage-1.jpg" width="800" height="256" alt="Виды города">
			</li>
			<li class="cards__item">
				<h3 class="heading">Небольшая площадь</h3>
				<p class="text cards__text">Все достопримечательности находятся очень близко</p>
			</li>
			<li class="cards__item">
				<h3 class="heading">Красивая дорога</h3>
				<p class="text cards__text">Ехать в Седону из Лас-Вегаса совсем не скучно!</p>
			</li>
			<li class="cards__item">
				<h3 class="heading">Мало туристов</h3>
				<p class="text cards__text">Большинство едет в Гранд Каньон и толпится там</p>
			</li>
		</ol>
	</section>

	<section class="search">
		<header class="section__header center">
			<h2 class="visually-hidden">Поиск гостиницы</h2>
			<p class="heading search__heading">Заинтересовались?</p>
			<p class="text">Укажите предполагаемые даты поездки, и мы покажем вам лучшие предложения гостиниц в Седоне</p>
		</header>
		<button class="search__button page__init-hidden" disabled>
			Поиск гостиницы в Седоне
		</button>
		<div class="search__body">
			<form class="form" action="https://echo.htmlacademy.ru">
				<p class="form__group">
					<label for="date-in">Дата заезда:</label>
					<input class="form__field" name="date_in" id="date-in" required>
					<button class="form__trigger form__trigger--datepick page__init-hidden" type="button">
						<span class="visually-hidden">Выбрать дату заезда</span>
					</button>
				</p>
				<p class="form__group">
					<label for="date-out">Дата заезда:</label>
					<input class="form__field" name="date_out" id="date-out" required>
					<button class="form__trigger form__trigger--datepick page__init-hidden" type="button">
						<span class="visually-hidden">Выбрать дату заезда</span>
					</button>
				</p>
				<p class="form__group form__group--half-left">
					<label for="guests-adults">Взрослые:</label>
					<button class="form__trigger form__trigger--decrease page__init-hidden" type="button">
						<span class="visually-hidden">Уменьшить количество взрослых на 1</span>
					</button>
					<input class="form__field form__field--num" name="adults" id="guests-adults"
						type="number" min="1" max="99" step="1" required>
					<button class="form__trigger form__trigger--increase page__init-hidden" type="button">
						<span class="visually-hidden">Увеличить количество взрослых на 1</span>
					</button>
				</p>
				<p class="form__group form__group--half-right">
					<label for="guests-children">Дети:</label>
					<button class="form__trigger form__trigger--decrease page__init-hidden" type="button">
						<span class="visually-hidden">Уменьшить количество детей на 1</span>
					</button>
					<input class="form__field form__field--num" name="children" id="guests-children"
						type="number" min="1" max="99" step="1" required>
					<button class="form__trigger form__trigger--increase page__init-hidden" type="button">
						<span class="visually-hidden">Увеличить количество детей на 1</span>
					</button>
				</p>
				<button type="submit">Найти</button>
			</form>
			<div class="map"></div>
		</div>
	</section>
{% endblock %}
