.button {
	box-sizing: border-box; // использование на ссылке и кнопке: унификация
	font-weight: 700;
	font-size: 21px;
	line-height: inherit;
	font-family: inherit;
	text-transform: inherit;
	text-decoration: none;
	text-align: center;
	color: var(--color-white);
	background-color: var(--color-primary);
	border: none;

	&:not(:disabled) {
		transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
		cursor: pointer;

		&:hover,
		&:focus {
			background-color: var(--color-primary-darker);
		}

		&:active {
			color: var(--color-white-pale);
			background-color: var(--color-primary-darkest);
		}
	}

	&--secondary {
		background-color: var(--color-secondary);

		&:not(:disabled) {
			&:hover,
			&:focus {
				background-color: var(--color-secondary-darker);
			}

			&:active {
				background-color: var(--color-secondary-darkest);
			}
		}
	}
}
