.cards {
	counter-reset: index;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;

	> li {
		counter-increment: index;
	}
}

.cards__heading {
	margin-bottom: 28px;
	line-height: 1;
}

.cards__text {
	&:first-of-type {
		&::before {
			content: "– №" counter(index) " –";
			display: block;
			margin: 0 0 24px;
		}
	}
}

.cards__item {
	padding: 46px;
	background-color: #eeeeee;

	&--alter {
		grid-column: 1 ~"/" 2;
		color: #ffffff;
		background-color: var(--color-accent);

		.cards__text {
			color: inherit;
		}
	}
}

.cards__img {
	grid-column: 2 ~"/" -1;
	grid-row: 1 ~"/" 2;
	height: 100%;
	object-fit: cover;
}

.cards__group {
	display: grid;
	grid-column: 1 ~"/" -1;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: var(--color-accent);

	&:nth-child(even) {
		.cards__item--alter {
			grid-column: 3 ~"/" -1;
		}

		.cards__img {
			grid-column: 1 ~"/" 3;
		}
	}
}

.cards__iconable-list {
	display: grid;
	grid-column: 1 ~"/" -1;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 0;
	padding: 0;
	list-style: none;

	.cards__item {
		background-color: #ffffff;
	}
}
