.filter {
	display: grid;
	grid-template-columns: 225px 225px 1fr;
	gap: 30px;
	padding: 24px 72px 32px;
	line-height: 21px;
	color: var(--color-white);
	background-image: url("../img/filter-bg.jpg");
	background-size: cover;
}

.filter__set {
	margin: 0;
	padding: 0;
	border: none;
}

.filter__group {
	width: 328px;
	margin-left: auto;

	.filter__set {
		margin-left: 10px;
	}
}

.filter__title {
	float: left;
	width: 100%;
	margin: 0 0 13px;
	font-weight: 700;
	font-size: 16px;
}

.filter__option {
	display: table;
	clear: both;
	margin: 25px 0 0;

	&:first-of-type {
		margin-top: 48px;
	}
}

.filter__submit {
	display: table;
	width: 136px;
	margin: 33px auto 0;
	padding: 5px 16px 6px;
	font: inherit;
	text-transform: inherit;
	color: inherit;
	background-color: transparent;
	border: 2px solid var(--color-white);
	border-radius: 2px;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
	cursor: pointer;

	&:hover,
	&:focus {
		color: var(--color-black);
		background-color: var(--color-white);
	}
}
