.page-footer {
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 22px 56px;
}

.page-footer__contacts {
	margin: 0 0 5px;
	text-align: center;
}

.page-footer__contact {
	display: inline-block;
	vertical-align: baseline;
	margin-bottom: 9px;
}
