.search__heading {
	margin: 12px 0 28px;
	font-size: 30px;
}

.search__button {
	display: block;
	width: 568px;
	margin: 0 auto;
	padding: 30px;
}

.search__body {
	position: relative;
}

.search__form {
	position: relative;
	z-index: 1;
	width: 458px;
	margin: 0 auto;
}

.search__map {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url("../img/map.jpg");
	background-size: cover;
}
