.search {
	display: grid;
	grid-template-columns: 1fr 568px 1fr;
}

.search__header {
	grid-column: 2 ~"/" -2;
}

.search__button {
	grid-column: 2 ~"/" -2;
	padding: 30px;
}

.search__form {
	z-index: 1;
	grid-column: 2 ~"/" -2;
	grid-row: 3 ~"/" 4;
	margin-bottom: calc(78px + var(--height-footer));
}

.search__map {
	grid-column: 1 ~"/" -1;
	grid-row: 3 ~"/" 4;
	background-image: url("../img/map.jpg");
	background-size: cover;
}
