.search {
	display: grid;
	grid-template-columns: 1fr 568px 1fr;
}

.search__header {
	grid-column: 2 ~"/" -2;
}

.search__button {
	grid-column: 2 ~"/" -2;
	padding: 30px;
}

.search__form {
	z-index: 1;
	grid-column: 2 ~"/" -2;
	grid-row: 3 ~"/" 4;
	margin-bottom: calc(78px + var(--footer-height-amendment));
	visibility: hidden;
	transform: scaleY(0);
	transform-origin: 50% 0;
	transition: transform 0.5s ease-in-out, visibility 0s 0.5s;

	&--opened {
		visibility: visible;
		transform: scaleY(1);
		transition: transform 0.5s ease-in-out;
	}
}

.search__map {
	grid-column: 1 ~"/" -1;
	grid-row: 3 ~"/" 4;
	background-image: url("../img/map.jpg");
	background-size: cover;
}
