:root {
	--color-blak: #000000;
	--color-blacky: #333333;
	--color-darkgrey: #a9a9a9;
	--color-grey: #eeeeee;
	--color-whitegrey: #f2f2f2;
	--color-white: #ffffff;
	--color-primary: #81b3d2;
	--color-primary-darker: #669ec0;
	--color-primary-darkest: #5496bd;
	--color-secondary: #766357;
	--color-secondary-darker: #604e43;
	--color-secondary-darkest: #503e33;
	--icon-fb: url("fb.svg");
	--icon-twitter: url("twitter.svg");
	--icon-youtube: url("youtube.svg");
	overflow-y: scroll;
	font-size: 14px;
	background-color: var(--color-whitegrey);
}

body {
	width: 1200px;
	margin: 0 auto;
	line-height: 26px;
	font-family: "PT Sans", "Arial", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
	text-transform: uppercase;
	background-color: var(--color-white);
	-webkit-tap-highlight-color: transparent;
	box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

a {
	text-decoration-skip-ink: none;
	color: inherit;
	transition-property: color, opacity, background-color, border-color;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;

	&::-moz-focus-inner {
		border: none;
	}
}

img {
	max-width: 100%;
	height: auto;
}
