:root {
	--color-black: #000000;
	--color-black-pale: rgba(0, 0, 0, 0.3);
	--color-blacky: #333333;
	--color-blackgrey: #666666;
	--color-darkgrey: #a9a9a9;
	--color-darkgrey-secondary: #ababab;
	--color-darkgrey-pale: rgba(171, 171, 171, 0.3);
	--color-moregrey: #cacaca;
	--color-grey: #eeeeee;
	--color-grey-secondary: #ebebeb;
	--color-grey-tertiary: #e5e5e5;
	--color-whitegrey: #f2f2f2;
	--color-white: #ffffff;
	--color-white-pale: rgba(255, 255, 255, 0.3);
	--color-white-pale-min: rgba(255, 255, 255, 0.9);
	--color-primary: #81b3d2;
	--color-primary-darker: #669ec0;
	--color-primary-darkest: #5496bd;
	--color-secondary: #766357;
	--color-secondary-darker: #604e43;
	--color-secondary-darkest: #503e33;
	--footer-height-amendment: 2px; // поправка на высоту футера для отступа поисковой формы (реализация наложения)
	overflow-y: scroll;
	font-size: 14px;
	background-color: var(--color-whitegrey);
}

body {
	line-height: 26px;
	font-family: "PT Sans", "Arial", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
	text-transform: uppercase;
	-webkit-tap-highlight-color: transparent;
}

a {
	text-decoration-skip-ink: none;
	color: inherit;
	transition-property: color, opacity, background-color, border-color;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;

	&::-moz-focus-inner {
		border: none;
	}
}

img {
	max-width: 100%;
	height: auto;
}

@keyframes fade {
	from {
		transform: translate3d(0, -20px, 0);
		opacity: 0;
	}

	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}
